# Duplicate this file to .env and update with your real domain
VITE_BASE_URL=https://kopi.hijitoko.com
# Backend API base URL for public endpoints
VITE_API_BASE_URL=https://konsi.rickicode.workers.dev
